# =========================
# Angular / Node
# =========================
node_modules/
dist/
.angular/

# =========================
# Go
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# =========================
# Variables de entorno
# =========================
.env
# .env.*
# !.env.example

# =========================
# IDE / Editores
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Docker 
# =========================
docker-example.txt