APP_ENV=development
APP_PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tienda
DB_SSLMODE=disable
JWT_SECRET=change-this-secret-in-development
JWT_EXPIRATION=24h
LOGIN_HEADER_IMAGE_URL=https://images.unsplash.com/photo-1556742049-0cfed4f6a45d?auto=format&fit=crop&w=900&q=80
FRONTEND_URL=http://localhost:4200
SEED_ADMIN=false
